{% extends 'base/base.html' %}

{% block content %}

    <header>
        {% if user.is_authenticated %}
            <h1>Привіт, {{ user.username }}!</h1>
        {% else %}
            <h1>Вітаємо на головній сторінці</h1>
        {% endif %}

        <nav>
            {% if user.is_authenticated %}
                <ul>
                    <li>
                        <form method="post" action="{% url 'accounts:logout' %}">
                            {% csrf_token %}
                            <button type="submit">Вийти</button>
                        </form>
                    </li>
                    <li>
                        <a href="{% url 'accounts:user-profile' username=user.username %}">
                            <button>Перейти до акаунту</button>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'forum:branch_list' %}">
                            <button>Форум</button>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'voting:voting_list' %}">
                            <button>Голосування</button>
                        </a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{% url 'accounts:login' %}">Увійти</a></li>
                    <li><a href="{% url 'accounts:register' %}">Зареєструватися</a></li>
                </ul>
            {% endif %}
        </nav>
    </header>

    <main>
        <section>
            <h2>Ось де можна знайти корисну інформацію!</h2>
            <p>Це головна сторінка, де можна дізнатися останні новини.</p>
        </section>
    </main>

{% endblock %}
