{% extends 'base/base.html' %}

{% block content %}

    <header>
        <h1>Реєстрація нового користувача</h1>
    </header>

    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% if form.errors %}
                <div style="color: red;">
                    <p><strong>Помилки:</strong></p>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <button type="submit">Зареєструватися</button>
        </form>
        <p>Уже маєте акаунт? <a href="{% url 'accounts:login' %}">Увійти</a></p>
    </main>

{% endblock %}