{% extends 'base/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px;">
    <h2 class="text-center mb-3">Оновлення завдання</h2>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}

      <div class="form-group mb-2">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>

      <div class="form-group mb-2">
        {{ form.body.label_tag }}
        {{ form.body }}
      </div>

      <div class="d-flex justify-content-between">
        <a href="{% url 'forum:branch_list' %}" class="btn btn-secondary">Назад</a>
        <button type="submit" class="btn btn-primary">Оновити</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}